services:
  app:
    image: node:24
    working_dir: /app
    tty: true
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app
    environment:
      - WATCHPACK_POLLING=true
    command: >
      sh -c "npm run dev"
